cache/
out/
node_modules/
artifacts/
utils/
lib/

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt

broadcast

# Ignore local misc files
.DS_Store
*.pem

secret.json
